# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\git-hub\design-pattern\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
